__pycache__/
*.pyc
*.egg-info/
.venv/
.env
.env.*
observability/atlas-prometheus-token
k8s/secrets.local.yaml
.pytest_cache/
.ruff_cache/
dist/
sbom.json
*.py[cod]
.eggs/
build/
venv/
.mypy_cache/
.coverage
htmlcov/
pytest-cache-files-*/
.DS_Store
.idea/
.vscode/
